@import '~@angular/material/theming';

@include mat-core();

$dark-theme: mat-dark-theme(
    mat-palette($mat-light-green),
    mat-palette($mat-light-blue, 300),
    mat-palette($mat-deep-orange, A200)
);

@include angular-material-theme($dark-theme);

$text-color: mat-color(map-get($dark-theme, foreground), text);
$background-color: mat-color(map-get($dark-theme, background), background);

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $text-color;
  background-color: $background-color;
}

@import '~@angular/cdk/text-field';

input {
  @include cdk-text-field-autofill-color(transparent, $text-color);
}
